Screen {
    align: center middle;
}

ListView {
    height: auto;
}

.conteiner {
    width: 30;
    height: auto;
    align: center middle;
}

.column {
    width: auto;
    align: center middle;
}
